
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upcycle - Welcome!</title>
    <link rel="stylesheet" href="/css/Landing-Page.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap">
    <link rel="shortcut icon" href="/src/img/Logo/NGOlogo.png" type="image/x-icon">

</head>

<body style="background-color: #F4F4F4;">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

<!-- NAVBAR -->
<nav class="navbar navbar-dark navbar-expand-xl">
    <div class="container">
        <!-- LOGO & BRAND -->
      <div class="d-flex flex-row align-items-center gap-2">
        <img src="/src/img/Logo/NGOlogo.png" alt="Logo" width="60" height="60" class="d-inline-block align-text-center">
        <a class="navbar-brand" href="#">Upcycle</a>
      </div>
        <!-- TOGGLE BTN -->
      <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- SIDEBAR -->
      <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        
        <!-- SIDEBAR - header -->
        <div class="offcanvas-header text-white border-bottom">
          <div class="d-flex flex-row align-items-center gap-2">
            <img src="/src/img/Logo/NGOlogo.png" alt="Logo" width="60" height="60" class="d-inline-block align-text-center">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Upcycle</h5>
          </div>
          <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <!-- SIDEBAR - body -->
        <div class="offcanvas-body d-flex flex-column flex-xl-row p-4">
          <ul class="navbar-nav justify-content-center align-items-center flex-grow-1 pe-3 gap-1">
            <li class="nav-item">
              <a class="nav-link active " aria-current="page" href="#">Home</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Start Recycling
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">View Post</a></li>
                  <li>
                  </li>
                  <li><a class="dropdown-item" href="#">Create New Post</a></li>
                </ul>
              </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Recent Post</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Community Forum</a>
              </li>
          </ul>
          <!-- LOGIN & SIGN UP -->
          <div class="d-flex justify-content-center flex-xl-row align-items-center gap-2">
            <a href="login" class="login text-white text-decoration-none inner-border px-4 py-2"> Login</a>
            <a href="signup" class="signup text-white text-decoration-none px-4 py-2">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </nav>

<!-- LANDED HERE -->
<div class="section landing px-5 text-center" style="background-image: url(/images/background/landingpage.png);">
    <div class="container" style="padding-block: 50px;">
        <div>
            <p class="welcome h1">Welcome to</p>
            <p class="brand h1">UPCYCLE!</p>
            <p class="message h5">Connect with eco-conscious individuals, share tips, and discuss innovative ways to do the 3Rs.</p>
            <button class="signup-button">Sign up</button>
        </div>
    </div>
</div>

<!-- CREATE AND POST -->
<section id="create&post" class=" px-0">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-between">
            <div class="col-md content">
                <img class="img-fluid" src="/src/bg2.png" alt="">
            </div>

            <div class="col-md right-side text-center" style="background-image: url(/images/background/landing-content.png); background-size: cover;">
                <div class="container-fluid">
                    <p class="h1 main-title">Create and Post Content</p>
                <p class="h5 sub-title">Through well-crafted content, you can inform, inspire, and engage your readers.</p>
                <!-- <button class="signup-button">Sign up</button> -->
                </div>
                
            </div>
        </div>

        <div class="row align-items-center justify-content-between">
            <div class="col-md p-5 text-center">
                <p class="h1 main-title">Engage in Discussion</p>
                <p class="h5 sub-title">Through well-crafted content, you can inform, inspire, and engage your readers.</p>
                <!-- <button class="signup-button">Sign up</button> -->
            </div>
            <div class="col-md">
                <img class="img-fluid" src="/src/bg3.png" alt="">
            </div>
        </div>

        <div class="row align-items-center justify-content-between">
            <div class="col-md p-5 text-center">
                <p class="h1 main-title" style="color: #F6760E;">Create Your Account</p>
                <p class="h5 sub-title">Join our community by creating and account</p>
                <!-- <button class="signup-button">Sign up</button> -->
                <div class="row justify-content-center">
                    <img class="img-fluid w-50" src="/src/join.png" alt="">
                </div>
            </div>

            <div class="row pb-5 ">
                <form class="d-flex justify-content-center" role="Email">
                    <input class="form-control me-2" type="Email" placeholder="Email address" aria-label="Email">
                    <button class="btn email" type="submit">Signup</button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- FOOTER -->
<footer class="footer pt-5 pb-2 position-relative">
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-lg-6 col-xl-6 text-center text-md-start mx-auto mt-3">
              <p class="h4 brand">Upcycle</p>
              <p class="description">This website combines insightful articles on ways to reuse recyclable materials with engaging forums for a community of recyclers, all in one place. Explore to stay informed and join forums to connect!</p>
          </div>
          <div class="col-md-4 col-lg-4 col-xl-4 text-center text-md-start mx-auto mt-3">
              <p class="h4 link">Link</p>
              <ul class="footer-links">
                  <li><a class="footer" href="">About Us</a></li>
                  <li><a class="footer" href="">Contact Us</a></li>
                  <li><a class="footer" href="">Home</a></li>
                  <li><a class="footer" href="">FAQ</a></li>
              </ul>
          </div>
          <div class="row text-center g-4">
            <p class="copyright">© 2024 Upcycle</p>
          </div>
      </div>
  </div>
</footer>

</body>
</html>
