{% extends "base.html" %} {% block title %}Glass{% endblock %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upcycle - Glass</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/SR-Glass.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap">
    <link rel="shortcut icon" href="/src/img/Logo/NGOlogo.png" type="image/x-icon">

</head>

{% block content %}
<!-- BANNER SEARCH -->
<div class="banner-bg-glass p-5 text-center" style="background-image: url(static/images/background/glass.png);">
    <div class="container" style="padding-block: 50px;">
        <div>
            <p class="h1 title">Glass</p>
            <form class="d-flex justify-content-center" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn search" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>

<!-- BANNER INFO -->
<div class="section banner-info" style="background-color: #F6760E;">
    <div class="container-fluid" >
        <div class="inside-orange-banner">
            <div class="row">
                <div class="col-1 img-left d-flex justify-content-start align-items-center pt-2">
                    <img class="side-img" src="{{ url_for('static', filename='images/img/glass-left.png')}}" alt="">
                </div>
                <div class="col-10 description py-4 d-flex justify-content-center align-items-center">
                    <p>Glass, a versatile and inert material, has long been a 
                        staple in various industries and households for its 
                        transparency, durability, and recyclability. However, our 
                        challenge with glass lies in the environmental impact of its 
                        production, as it requires significant energy and raw 
                        materials. Recognizing the need for sustainable practices, 
                        glass recycling emerges as a crucial solution, offering a 
                        pathway to reduce energy consumption, curb resource depletion,
                        and minimize the ecological footprint associated with the 
                        manufacturing of this ubiquitous material.
                    </p>
                </div>
                <div class="col-1 img-right d-flex justify-content-end align-items-center pb-2">
                    <img class="side-img" src="{{ url_for('static', filename='images/img/glass-right.png')}}" alt="">
                </div>
            </div>
        </div>
        
    </div>
</div>

<!-- FEATURED ARTICLES -->
<div class="article container" style="background-color: white; margin-top: 2%; padding: 3%;">
    <div class="row">
        <p class="label h1">Featured Articles:</p>
        <hr>
        <div class="row post">
            <div class="col-lg-3 col-md-6 col-sm-6 col-6 g-3">
                <div class="card post"  onclick="redirectToMaterial('Post_page.html')">
                    <img src="{{ url_for('static', filename='images/img/card-placeholder.png')}}" class="card-img-top" alt="...">
                    <div class="card-body post">
                    <p class="card-text category">How to recycle 'Category'</p>
                    <h5 class="card-title post">TITLE PLACEHOLDER</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6 g-3">
                <div class="card post"  onclick="redirectToMaterial('Post_page.html')">
                    <img src="{{ url_for('static', filename='images/img/card-placeholder.png')}}" class="card-img-top" alt="...">
                    <div class="card-body post">
                    <p class="card-text category">How to recycle 'Category'</p>
                    <h5 class="card-title post">TITLE PLACEHOLDER</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6 g-3">
                <div class="card post"  onclick="redirectToMaterial('Post_page.html')">
                    <img src="{{ url_for('static', filename='images/img/card-placeholder.png')}}" class="card-img-top" alt="...">
                    <div class="card-body post">
                    <p class="card-text category">How to recycle 'Category'</p>
                    <h5 class="card-title post">TITLE PLACEHOLDER</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6 g-3">
                <div class="card post"  onclick="redirectToMaterial('Post_page.html')">
                    <img src="{{ url_for('static', filename='images/img/card-placeholder.png')}}" class="card-img-top" alt="...">
                    <div class="card-body post">
                    <p class="card-text category">How to recycle 'Category'</p>
                    <h5 class="card-title post">TITLE PLACEHOLDER</h5>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<!-- RECENTLY POSTED -->
<div class="article container" style="background-color: white; margin-top: 2%; padding: 3%;">
    <div class="row">
        <p class="label h1">Recently Posted:</p>
        <hr>
        <div class="row post">
            <div class="col-lg-3 col-md-6 col-sm-6 col-6 g-3">
                <div class="card post">
                    <img src="{{ url_for('static', filename='images/img/card-placeholder.png')}}" class="card-img-top" alt="...">
                    <div class="card-body post">
                    <p class="card-text category">How to recycle 'Category'</p>
                    <h5 class="card-title post">TITLE PLACEHOLDER</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6 g-3">
                <div class="card post">
                    <img src="{{ url_for('static', filename='images/img/card-placeholder.png')}}" class="card-img-top" alt="...">
                    <div class="card-body post">
                    <p class="card-text category">How to recycle 'Category'</p>
                    <h5 class="card-title post">TITLE PLACEHOLDER</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6 g-3">
                <div class="card post">
                    <img src="{{ url_for('static', filename='images/img/card-placeholder.png')}}" class="card-img-top" alt="...">
                    <div class="card-body post">
                    <p class="card-text category">How to recycle 'Category'</p>
                    <h5 class="card-title post">TITLE PLACEHOLDER</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6 g-3">
                <div class="card post">
                    <img src="{{ url_for('static', filename='images/img/card-placeholder.png')}}" class="card-img-top" alt="...">
                    <div class="card-body post">
                    <p class="card-text category">How to recycle 'Category'</p>
                    <h5 class="card-title post">TITLE PLACEHOLDER</h5>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <!-- Posts cards -->
</div>

<!-- YOU MAY LIKE -->
<div class="article container" style="background-color: white; margin-top: 2%; padding: 3%; margin-bottom: 2%;">
    <div class="row">
        <p class="label h1">You may like:</p>
        <hr>
        <div class="row post">
            <div class="col-lg-3 col-md-6 col-sm-6 col-6 g-3">
                <div class="card post">
                    <img src="{{ url_for('static', filename='images/img/card-placeholder.png')}}" class="card-img-top" alt="...">
                    <div class="card-body post">
                    <p class="card-text category">How to recycle 'Category'</p>
                    <h5 class="card-title post">TITLE PLACEHOLDER</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6 g-3">
                <div class="card post">
                    <img src="{{ url_for('static', filename='images/img/card-placeholder.png')}}" class="card-img-top" alt="...">
                    <div class="card-body post">
                    <p class="card-text category">How to recycle 'Category'</p>
                    <h5 class="card-title post">TITLE PLACEHOLDER</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6 g-3">
                <div class="card post">
                    <img src="{{ url_for('static', filename='images/img/card-placeholder.png')}}" class="card-img-top" alt="...">
                    <div class="card-body post">
                    <p class="card-text category">How to recycle 'Category'</p>
                    <h5 class="card-title post">TITLE PLACEHOLDER</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6 g-3">
                <div class="card post">
                    <img src="{{ url_for('static', filename='images/img/card-placeholder.png')}}" class="card-img-top" alt="...">
                    <div class="card-body post">
                    <p class="card-text category">How to recycle 'Category'</p>
                    <h5 class="card-title post">TITLE PLACEHOLDER</h5>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<!-- FOOTER -->
<footer class="footer pt-5 pb-2 position-relative">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xl-6 text-center text-md-start mx-auto mt-3">
                <p class="h4 brand">Upcycle</p>
                <p class="description">This website combines insightful articles on ways to reuse recyclable materials with engaging forums for a community of recyclers, all in one place. Explore to stay informed and join forums to connect!</p>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 text-center text-md-start mx-auto mt-3">
                <p class="h4 link">Link</p>
                <ul class="footer-links">
                    <li><a class="footer" href="">About Us</a></li>
                    <li><a class="footer" href="">Contact Us</a></li>
                    <li><a class="footer" href="">Home</a></li>
                    <li><a class="footer" href="">FAQ</a></li>
                </ul>
            </div>
            <div class="row text-center g-4">
              <p class="copyright">© 2024 Upcycle</p>
            </div>
        </div>
    </div>
</footer>
{% endblock content %}


</html>